<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TODAy</title>
  <script type="text/javascript" src="/javascript/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/javascript/script.js" ></script>
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/todopage.css" type="text/css">
</head>
<body>
  <header>
    <div class="header-content general">
      <div class="profile-info">
        <a href='/profile'>
          <img id="profile-image" src=<%= user.photos[0].value%> ><br>
          <p><%= user.displayName %></p>
        </a>
      </div>
      <hr>
      <form class="search_form" method="post" action="#">
        <input type="text" class="search fa" placeholder="&#xf002; Search"/>
      </form>
      <a class="btn" id="main-add">
        <span class="fa fa-plus"> Add new todo item</span>
      </a>
    </div>
    <div class="header-content todo-settings-main hidden">
      <h1>Todo</h1>
      <hr>
      <h4>Deadline: </h4>
      <form><input type="text" class="fa" name="deadline" placeholder="&#xf073; yyyy-mm-dd HH:MM"></form>
      <h4>Add tag: </h4>
      <form><input type="text" class="fa" placeholder="&#xf02b; Add tag" name="tag"></form>
      <h4>Importance: </h4>
      <form class="radio-form"><input type="radio" name="importance" id="i1" value="1" />
        <label for="i1">low</label>
        <input type="radio" name="importance" id="i2" value="2" />
        <label for="i2">medium</label>
        <input type="radio" name="importance" id="i3" value="3" />
        <label for="i3">high</label>
      </form>
    </div>
    <a href="/" class="logo-container">
      <img id="logo" src="/images/Today-logo.png" alt="TODAy">
    </a>
  </header>
  <main>
    <div class="content">
      <% todos.forEach(function(todo) { %>
          <section class="widget widget-col-1 <%if (todo.Completed == '1') {%>completed<%}%>"
            todo-id=<%= todo.Id %>
            data-priority=<%= todo.Priority %>
            data-duedate="<%= new Date(todo.DueDate).toISOString() %>" >
            <div class="control-area">
              <a class="btn btn-control delete">
                <span class="control-button fa fa-close"></span>
              </a>
              <a class="btn btn-control complete">
                <span class="control-button fa fa-check"></span>
              </a>
            </div>
            <div class="todo-description">
              <h2 contenteditable="true" data-placeholder="Add Title"><%= todo.Title %></h2>
              <div contenteditable="true" data-placeholder="Add description"><%= todo.Text %></div>
            </div>
          </section>
      <% }); %>
    </div>
  </main>
</body>
</html>
